<!DOCTYPE html>

<html>
    <head>
        <title>__title__</title>
    </head>
    <body>

#*
my name is ${name}<br />
${link}<br />
${link.getHoge()}<br />
${link.hoge}<br />
${link.fuga}<br />
${user}<br />
${user.id}<br />
${user.id()}<br />
${user.name}<br />
${user.name()}<br />
${i}<br />

#foreach($u in $users)
  ${u.id()} / ${u.name()}<br />
#end
*#

#*
${strOpt.getOrElse("aaa")}<br />
${intOpt.getOrElse(0)}<br />
${longOpt.getOrElse(10)}<br />
${longOpt.map(#func("_.toString"))}<br />
*#

#*
#func("_ + 100L")
longOpt: ${longOpt}<br />
longOpt.map: ${longOpt.map($func1)}<br />
*#
longOpt.map: ${longOpt.map("_ + 100L")}<br />

    </body>
</html>
